/* lecture 4  */


#test1
{
    text-align: center;
    background-color: #ffc;
    border: 1px solid #900;
    color: #009;
    font-size: 1em;
    text-decoration: underline;
}
#test2
{
    padding: 10px;
    border: 1px solid #000;

}
